.vscode/
dcload-ip
dcload-ip/
src/.vscode/
wadtool/DOOM64.WAD
wadtool/doom64.wad
wadtool/*.z64
wadtool/*.o
wadtool/wadtool
selfboot/alt.wad
selfboot/pow2.wad
selfboot/maps/map0*.wad
selfboot/maps/map1*.wad
selfboot/maps/map2*.wad
selfboot/maps/map3*.wad
selfboot/maps/map40.wad
selfboot/tex/non_enemy.tex
src/*.o
build/
